[submodule "src/components/vue-octicon"]
	path = src/components/vue-octicon
	url = https://github.com/Justineo/vue-octicon.git
[submodule "src/bulmaswatch"]
	path = src/bulmaswatch
	url = https://github.com/jenil/bulmaswatch.git
